@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
// font
$font-primary: 'Quicksand', sans-serif;
// size
$text-title:18px;
$text-content:14px;
$text-small:12px;
$img-avatar:32px;
$img-close:24px;
$img-button:64px;
//colors
$color-primary : #606060;
$color-accent : #FFAB37;
$color-dark-light: #f4f4f4;
$color-green-dark: #68C453;
$color-green-light: #EFFBEC;
$color-error: #F2DEDE;
$color-error-border: #FFC9CF;

.chat-pg{
  color: $color-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: $text-content;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99999999;
  @media (max-width:450px) {
    bottom: 20px;
    right: 10px;
  }
}

.button-chat{
  width: $img-button;
  height: $img-button;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: auto;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media (max-width:450px) {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}


.container-chat{
  position: absolute;
  bottom: calc($img-button + 10px);
  right: 0;
  width: 375px;
  height: 400px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(#000000, 0.25);
  border-radius: 20px;
  margin: 0;
  padding: 0;
  display: none;
  grid-template-rows: auto 1fr auto;
  &.active{
    display: grid;
  }
  @media (max-width:450px) {
    width: calc(100vw - 20px);
  }
}

.header-chat{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 2px solid $color-dark-light;
}
.title-chat{
  font-size: $text-title;
  font-weight: 700;
}
.close-chat-button{
  position: absolute;
  width: $img-close;
  height: $img-close;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form-chat{
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid $color-dark-light;
  margin: 0;
  textarea{
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    resize: none;
    border: none;
    outline: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: $text-content;
    color: $color-primary;
    &::placeholder{
      color: rgba($color-primary, 0.5);
    }
  }
}

.body-chat{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}

.conversation-chat{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  gap: 8px;
  .avatar-chat{
    display: block;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    width: $img-avatar;
    height: $img-avatar;
    img{
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .content-conversation{
    box-sizing: border-box;
    padding: 10px 16px;
    background-color: $color-dark-light;
    border-radius: 12px;
    border: 2px solid $color-dark-light;
  }
}

.conversation-chat.chat-user{
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-left: auto;
  .content-conversation{
    background-color: $color-green-light;
    border-color: $color-green-dark;
  }
}

.conversation-chat.error{
  .content-conversation{
    background-color: $color-error;
    border-color: $color-error-border;
  }
}
